	 <div class="footer bc-footer">
			  <div class="container">
			  <div class="row text-center" style="padding-top:32px;">

			  <p>
			  Final Project. 2020&copy; Altawil, Bernard, Pourazari, Trias<br>
			  <strong>Disclaimer: </strong> Have fun playing this game! <br>
					</p>
						</div>
					</div>
				</div>
	</body>
</html>