<%- include('partials/header.ejs') %>
        <!-- Begin page content -->
 	<section class="menu-box">
			<h2 class="center-txt"> Welcome to your animal quiz application!</h2>
			
			<hr>
			<div class="container">
				<h3>This application is designed to test your basic knowledge about some categories of animals! </h3>
				<br>
				<h4 class="center-txt">To get started, you need to login on the top right corner, choose a category, and have fun!
				<br><br>
				Admins: Please login using your admin credentials to make changes to the application! </h4>
				<body class='text-center'>
				<br>
				<img src="img/discovery.png" height="600">
				<br><br>
				<br><br>
				<br><br>
               </div>
               
		</section>
        
<%- include('partials/footer.ejs') %>
    </body>
</html>