<%- include('partials/header.ejs') %>

		<section class="login-box">
			<h2 class="center-txt">Sign in to your account to get started. These quizzes are fun!</h2>
			
			<hr>
			<div class="center-text, form-box">
				<body class='text-center'>
				<h4>Users: Enter your account details below.</h4>
				<br>
				<form method="POST">
					User Name<br>
					<input type="text" name="uname" style="width: 250px;">
					<br><br>
					Password<br>
					<input type="password" name="pword" style="width: 250px;">
					<br><br>
					<button>Log In</button>
				</form>
				
				<% if (typeof loginError != "undefined" && loginError) { %>
				
					<h4 class="error" style = "color: red">Error: Password or user name is incorrect.</h4>
				
				<% }%>
				
			</div>

		</section>

<%- include('partials/footer.ejs') %>